body {
    margin: 0;
    padding: 0;
    --color-mouse-shadow: #2EB6FE;
    --color-primary: #a1cfe8;
    --color-bg: #FBFEFF;
    --color-bg-dot: #E5ECEF;
    --dot-gap: 8px;
    --dot-size: 1.5px;
    --color-text: #102F40;
}
.fill {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.start {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 64px;
}
.inter-light {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hero img, .hero svg {
    width: 200px;
}
.hero h1 {
    padding: 0;
    margin: 0;
    color: var(--color-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 64px;
    width: 100%;
}
