#about-hero h1 {
    transform: translateY(-10%);
}
.image-grid {
    --img-size: min(30vw, 320px); 
    --rotation: 15deg;
    --translate: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: var(--img-size);
}

.image-grid img {
    border-radius: var(--app-rounding);
    height: var(--img-size);
    width: var(--img-size);
    object-fit: cover;
    border: 1px solid var(--color-primary);
    transition: transform 0.2s ease-out;
    position: absolute;
}
.image-grid img:nth-child(1) { 
    transform: translateX(calc(-1  * var(--img-size))) translateY(calc(.03 * var(--img-size))) rotate(calc( -1 * var(--rotation))) translate(var(--translate), var(--translate));
}
.image-grid img:nth-child(1):hover {
    transform: translateX(calc(-1  * var(--img-size) * 1.08)) rotate(calc( -1 * var(--rotation))) translate(var(--translate), var(--translate));
}

.image-grid img:nth-child(2) {
    z-index: 2;
    transform: translate(0, 0);
}
.image-grid img:nth-child(2):hover {
    transform: translateY(calc(var(--img-size) * .05 * -1));
}

.image-grid img:nth-child(3) {
    transform: translateX(var(--img-size)) translateY(calc(.03 * var(--img-size))) rotate(var(--rotation)) translate(calc(-1 * var(--translate)), var(--translate));
}
.image-grid img:nth-child(3):hover {
    transform: translateX(calc(var(--img-size) * 1.08)) rotate(var(--rotation)) translate(calc(-1 * var(--translate)), var(--translate));
}

.detail-card {
    position: relative;
    z-index: 4;
    width: 100%;
}
.push-right {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.link {
    padding: 6px 14px 6px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    color: color-mix(in srgb, var(--color-text), transparent 40%);
    width: fit-content;
    border-radius: 3rem;
    background: var(--color-primary);
}
.link a span {
    color: color-mix(in srgb, var(--color-text), transparent 40%);
}
.link svg {
    height: 1rem;
}
.link span {
    font-size: .8rem;
}