#home-hero {
    height: 250px;
}
#home-hero h1 {
    transform: translateY(12px);
}

nav {
    padding: 64px 0;
    display: flex;
    gap: 64px;
}

@media screen and (max-width: 800px) {
    nav {
        gap: 40px;
        flex-direction: column;
    }
}

nav a {
    color: var(--color-text); 
    font-size: 1.4rem;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    width: fit-content;
}
nav a span {
    position: relative;
    border-bottom: 3px dotted var(--color-text);
    padding-bottom: 6px;
    z-index: 2;
}
nav a svg {
    transition: transform 0.2s ease-in-out;
}
nav a:hover {
    transform: scale(1.1);
}
nav a:hover svg {
    transform: translateX(5px) rotate(10deg);
}

nav a svg {
    position: absolute;
    z-index: 0;
}
nav a#about svg {
    left: -25%;
    top: -30%;
    width: 48px;
}
nav a#blog svg {
    left: -50%;
    top: 5%;
    width: 64px;
}
nav a#visual-design svg {
    left: -5%;
    top: 0%;
    width: 64px;
}
nav a#software svg {
    left: -30%;
    top: -35%;
    width: 48px;
}
nav a#career svg {
    left: -30%;
    top: -15%;
    width: 40px;
}