#career-hero h1 {
    bottom: 25px;
}

.resume-hint {
    padding: 0 12px;
    background: var(--card-color);
    border: 1px solid var(--color-primary);
    border-radius: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-text-light);
    font-family: "Inter", serif;
    font-size: .8rem;
    cursor: pointer;
}
.resume-hint svg {
    height: 20px;
}
.summary {
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}
.summary .bar-container {
    width: 100%;
    height: 32px;
    border-radius: 32px;
    background-color: var(--color-subtle);
    display: flex;
    gap: 8px;
}
.summary .bar {
    height: 100%;
    border-radius: 32px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
} 
.summary .bar img {
    height: 50%;
}
.labels {
    width: 100%;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-light);
    font-family: "Inter", serif;
    font-size: .7em;
}
.career-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    flex-direction: column;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
}
.career-card {
    --career-card-height: 13rem;
    width: 100%;
    display: flex;
    gap: 32px;
    height: var(--career-card-height);
}

.career-card .image-container {
    min-width: var(--career-card-height);
    width: var(--career-card-height);
    height: var(--career-card-height);
    display: grid;
    place-items: center;
    padding: 0px;
}
.career-card .image-container img {
    max-width: 50%;
    max-height: 50%;
}
.career-card .card {
    position: relative;
}
.career-card .card h1 {
    padding-bottom: 4px;
}
.career-card .card .subtitle {
    color: var(--color-text);
    opacity: .7;
}

.career-card .career-card-title {
    display: flex;
    gap: 8px;
    margin-bottom: 1rem;
}

.career-card .career-card-title .title-image {
    width: 4rem;
    height: 4rem;
    max-width: 4rem;
    min-width: 4rem;
    max-height: 4rem;
    align-items: center;
    justify-content: flex-start;
    display: none;
}
.career-card .career-card-title .title-image img {
    height: 70%;
}
.career-card .career-card-title .title-text {
    flex-grow: 1;
    height: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .career-card {
        gap: 16px;
        --career-card-height: fit-content;
    }
    .career-card .image-container {
        display: none;
    }
    .career-card .card .links .card-link {
        font-size: .6rem;
    }
    .career-card .card .links .card-link svg {
        height: 70%;
    }
    .career-card .career-card-title .title-image {
        display: flex;
    }
    .career-card .card .content {
        padding-bottom: 32px;
    }
    .career-card .career-card-title .title-text {
        justify-content: center;
    }
}